@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i");
/*********************
BREAKPOINTS
*********************/
html, body {
  margin: 0;
  display: block;
  position: relative;
}

h1, h2, h3 {
  font-family: "Nanum Myeongjo", serif;
}

p, span, a, div, button {
  font-family: "Muli", sans-serif;
  letter-spacing: 1;
}

body {
  background: #000000;
}

body.menu_open {
  height: 100%;
  overflow: hidden;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

.loader-container {
  position: fixed;
  display: grid;
  background: #000000;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.loader-container img {
  place-self: center;
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: blink infinite 1.5s ease-in-out;
          animation: blink infinite 1.5s ease-in-out;
}

a {
  cursor: none;
}

@media (max-width: 768px) {
  a {
    cursor: inherit;
  }
}

.cursor,
.follow {
  position: fixed;
  pointer-events: none;
  width: 0.5rem;
  height: 0.5rem;
  z-index: 999999;
  will-change: left, top;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .cursor,
  .follow {
    display: none;
  }
}

.cursor {
  background-color: #ffffff;
  border-radius: 50%;
}

.cursor.on_hover {
  background-color: transparent;
}

.follow {
  padding: 0.4rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  background: transparent;
}

.follow.on_hover {
  padding: 0.8rem;
  border: 0;
  background: #ffffff;
  opacity: .2;
}

nav {
  position: fixed;
  height: 60px;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 0;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-areas: "menu logo social";
  z-index: 10;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0);
}

nav .nav-logo {
  grid-area: logo;
  align-self: center;
  padding-left: 32px;
  z-index: 100;
}

nav .nav-logo a {
  height: 40px;
  width: 40px;
  background: url(/images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  z-index: 100;
  opacity: .8;
}

nav::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

nav.nav-up {
  top: -60px;
}

nav.nav-down {
  top: 0;
}

nav.scrolled::before {
  content: "";
  opacity: 1;
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

nav .menu {
  grid-area: menu;
  align-self: center;
  justify-self: end;
  padding-right: 60px;
}

nav .menu a {
  display: inline-block;
  margin-right: 16px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

nav .menu a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 120%;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
}

nav .menu a:hover:after {
  top: 100%;
  opacity: .5;
  -webkit-transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
}

.menu_toggle {
  grid-area: menu;
  justify-self: end;
  align-self: center;
  width: 35px;
  height: 30px;
  margin-right: 32px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.menu_toggle .bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
  -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -webkit-animation: bars infinite 3s ease-in-out;
          animation: bars infinite 3s ease-in-out;
}

.menu_toggle .bar:nth-child(1) {
  -webkit-transform: rotate(0) translate(0, 0);
      -ms-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0);
}

.menu_toggle .bar:nth-child(2) {
  -webkit-transform: translate(0, 12px);
      -ms-transform: translate(0, 12px);
          transform: translate(0, 12px);
  opacity: 1;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.menu_toggle .bar:nth-child(3) {
  -webkit-transform: rotate(0) translate(0, 24px);
      -ms-transform: rotate(0) translate(0, 24px);
          transform: rotate(0) translate(0, 24px);
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.menu_toggle.open .bar {
  margin: 0;
  -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -webkit-animation: none;
          animation: none;
}

.menu_toggle.open .bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(10px, 10px);
      -ms-transform: rotate(45deg) translate(10px, 10px);
          transform: rotate(45deg) translate(10px, 10px);
}

.menu_toggle.open .bar:nth-child(2) {
  -webkit-transform: translate(50px, 0);
      -ms-transform: translate(50px, 0);
          transform: translate(50px, 0);
  opacity: 0;
}

.menu_toggle.open .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
      -ms-transform: rotate(-45deg) translate(-10px, 10px);
          transform: rotate(-45deg) translate(-10px, 10px);
}

.menu_mobile {
  position: fixed;
  z-index: 99;
  width: calc(100% - 128px);
  height: 0vh;
  background: #ffffff;
  padding: 0 64px 0 64px;
  -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  overflow: hidden;
}

.menu_mobile a {
  display: block;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 350px;
  opacity: 0;
  top: 100px;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
}

.menu_mobile.open {
  height: 100vh;
  padding: 160px 64px 32px 64px;
  -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
  transition: 0.5s cubic-bezier(0, 0.5, 0.2, 1);
}

.menu_mobile.open a {
  opacity: .8;
  top: 0px;
}

.menu_mobile.open a:nth-child(1n) {
  -webkit-transition: 0.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 0.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 0.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(2n) {
  -webkit-transition: 0.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 0.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 0.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(3n) {
  -webkit-transition: 0.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 0.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 0.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(4n) {
  -webkit-transition: 0.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 0.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 0.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(5n) {
  -webkit-transition: 1s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 1s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 1s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(6n) {
  -webkit-transition: 1.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 1.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 1.2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(7n) {
  -webkit-transition: 1.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 1.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 1.4s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(8n) {
  -webkit-transition: 1.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 1.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 1.6s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(9n) {
  -webkit-transition: 1.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 1.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 1.8s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.menu_mobile.open a:nth-child(10n) {
  -webkit-transition: 2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  -o-transition: 2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
  transition: 2s cubic-bezier(0, 0.5, 0.2, 1) 0.3s;
}

.page {
  display: grid;
}

.page.homepage {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image content";
  height: 100vh;
}

@media (max-width: 1080px) {
  .page.homepage {
    display: block;
    height: auto;
  }
}

.page.homepage .main_img {
  grid-area: image;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 1080px) {
  .page.homepage .main_img {
    height: 50vh;
  }
}

.page.homepage .main_img:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.page.homepage .main_img .img {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page.homepage .main_img .logo {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  height: 300px;
  width: 80%;
  max-width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: difference;
}

.page.homepage .main_content {
  grid-area: content;
  overflow-y: scroll;
  padding: 180px 56px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 1080px) {
  .page.homepage .main_content {
    display: block;
    height: auto;
    padding: 32px;
  }
}

.page.homepage .main_content .description {
  margin-bottom: 64px;
}

.page.homepage .main_content:before {
  content: "";
  position: absolute;
  height: 180px;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.page.homepage .main_content:after {
  content: "";
  position: absolute;
  height: 180px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.page.homepage .main_content .partner-grid {
  display: grid;
  grid-auto-columns: minmax(auto, 120px);
  grid-auto-flow: column;
  grid-gap: 32px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.homepage .main_content .partner-grid .partner {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.page.homepage .main_content .partner-grid .partner:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.page.homepage .main_content .content {
  padding-bottom: 200px;
}

.link_grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "gridtitle" "left" "right";
  width: auto;
  margin-bottom: 100px;
}

.link_grid .link_heading {
  grid-area: gridtitle;
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .link_grid .link_heading {
    grid-template-columns: 1fr;
  }
}

.link_grid .link_heading h2 {
  color: #ffffff;
  margin-right: 32px;
}

.link_grid .link_heading p {
  font-style: italic;
  justify-self: end;
}

.link_grid .left {
  grid-area: left;
}

.link_grid .right {
  grid-area: right;
}

.link_grid p {
  color: #ffffff;
}

.link_name {
  display: grid;
  grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-rows: 30px;
  text-decoration: none;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.link_name .icon {
  height: 24px;
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 16px;
}

.link_name span {
  color: #ffffff;
  font-size: 20px;
  padding-right: 32px;
}

.link_name .see {
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-size: 14px;
  justify-self: start;
  position: relative;
  left: -20px;
}

.link_name:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
}

.link_name:hover .see {
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  left: 0px;
}

.latest {
  display: grid;
  position: relative;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  text-decoration: none;
}

.latest:before {
  content: "";
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  height: 100%;
  width: 100%;
  position: absolute;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.latest img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: 1 / 1 / 3 / 2;
}

.latest .title {
  grid-area: 2 / 1 / 3 / 2;
  z-index: 2;
  padding: 16px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.latest .title p {
  margin: 0;
  font-weight: 800;
}

.latest .title .sub {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
