{{ define "main" }}

	<div class="page homepage">

		<div class="main_img">

			<img class="img" alt="" src="/images/andrea_toffanello_main.jpg">

			<img class="logo" src="/images/logo_scritta.svg">
		</div>



		<div class="main_content">

			<div class="content">

				<h2 class="description">Full-time pirate with passion for digital design stuff.
				<br/><br/>
				I spend most of my time designing and developing websites and app interfaces and many kind of digital assets like graphics, videos and music.
				</h2>

				<h2>Now working for:</h2>

				<div class="partner-grid">

					<a class="partner" href="https://thetisit.com"><img src="/images/thetisit_logo_white.svg" alt="Thetis IT"></a>

				</div>


				<div class="link_grid">

					<div class="link_heading">

						<h2>Find Me</h2>

					</div>

					<div class="left">

						<a class="link_name" href="https://www.linkedin.com/in/andreatoffanello/?locale=en_US">

							<img class="icon"alt="" src="/images/linkedin.svg">

							<span>LinkedIn</span>

							<span class="see">see profile</span>

						</a>

					</div>

					<div class="right">

						<a class="link_name" href="https://www.instagram.com/andrea_toffanello/">

							<img class="icon"alt="" src="/images/instagram.svg">

							<span>Instagram</span>

							<span class="see">see profile</span>

						</a>

					</div>

				</div>

				<div class="link_grid">

					<div class="link_heading">

						<h2>Design</h2>

						<p>Web • UI • Graphic • Motion</p>

					</div>

					<div class="left">

						<a class="link_name" href="https://www.behance.net/andreatoffanello">

							<img class="icon"alt="" src="/images/behance.svg">

							<span>Behance</span>

							<span class="see">see profile</span>

						</a>

					</div>

					<div class="right">

						<a class="link_name" href="https://dribbble.com/andreatoffanello">

							<img class="icon"alt="" src="/images/dribbble.svg">

							<span>Dribbble</span>

							<span class="see">see profile</span>

						</a>

					</div>

				</div>

				<div class="link_grid">

					<div class="link_heading">

						<h2>Development</h2>

						<p>HTML • SCSS • jQuery</p>

					</div>

					<div class="left">

						<a class="link_name" href="https://codepen.io/andreatoffanello/">

							<img class="icon"alt="" src="/images/codepen.svg">

							<span>Codepen</span>

							<span class="see">see profile</span>

						</a>

					</div>

					<!--div class="right">

						<a class="link_name" href="#">

							<img class="icon"alt="" src="/images/dribbble.svg">

							<span>Dribbble</span>

							<span class="see">see profile</span>

						</a>

					</div-->

				</div>


				<div class="link_grid">

					<div class="link_heading">

						<h2>Video</h2>

						<p>Editing • Animations</p>

					</div>

					<div class="left">

						<a class="link_name" href="https://www.youtube.com/channel/UCMdVHFQbV-F23ZKnJ1bXW7g">

							<img class="icon"alt="" src="/images/youtube.svg">

							<span>YouTube</span>

							<span class="see">see channel</span>

						</a>

					</div>

					<div class="right">

						<a class="link_name" href="https://videohive.net/user/andreatoffanello/portfolio">

							<img class="icon"alt="" src="/images/videohive.svg">

							<span>VideoHive</span>

							<span class="see">see profile</span>

						</a>

					</div>

				</div>

				<div class="link_grid">

					<div class="link_heading">

						<h2>Music</h2>

						<p>Production</p>

					</div>

					<div class="left">

						<a class="link_name" href="https://open.spotify.com/artist/2xvWSy80XyEkoTvSxE5L4c">

							<img class="icon"alt="" src="/images/spotify.svg">

							<span>Spotify</span>

							<span class="see">listen all</span>

						</a>

					</div>

					<div class="right">

						<a class="link_name" href="https://soundcloud.com/andreatoffanello">

							<img class="icon"alt="" src="/images/soundcloud.svg">

							<span>SoundCloud</span>

							<span class="see">listen all</span>

						</a>

					</div>

				</div>

			</div>

		</div>

	</div>

{{ end }}
