
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Andrea",
      "url": "{{ .Permalink }}",
      "image": "{{ .Site.BaseURL }}/images/{{ .Site.Params.coverimg }}",
      "sameAs": [
        "https://andreatoffanello.com",
        "https://www.facebook.com/Andrea.E.M.Toffanello",
        "https://www.linkedin.com/in/andreatoffanello/?locale=en_US",
        "https://www.instagram.com/andrea_toffanello/",
        "https://www.behance.net/andreatoffanello",
        "https://dribbble.com/andreatoffanello",
        "https://andreatoffanello.com",
        "https://codepen.io/andreatoffanello/",
        "https://www.youtube.com/channel/UCMdVHFQbV-F23ZKnJ1bXW7g",
        "https://videohive.net/user/andreatoffanello/portfolio",
        "https://open.spotify.com/artist/2xvWSy80XyEkoTvSxE5L4c",
        "https://soundcloud.com/andreatoffanello",
      ],
      "jobTitle": "Digital Designer"  
    }

</script>